html, body {
    height: 100%;
    overflow: hidden;
}

#canvas-simple-div {
    width: 100%;
    height: 100%;
}

/* to show the canvas bounds */
canvas {
    background: #eee;
}

.mem {
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: transform 2500ms;
}

.down {
    transform: translateY(500px);
}
